.days{
    background-color: white;
}

.video-container{
    padding: 50px;
}

@media (min-width: 768px) and (orientation: landscape){
    .video-container > video{
        width: 400px;
    }

    .days{
        height: 100vh;
    }
    
}