.introduction{
    height: 100vh;
}

.btn-area{  
    text-align: center;
    height: 70px;
    margin-top: 50px;
}

.btn-shine {
    padding: 12px 48px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.034); 
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }

  /* DAYS CONFIGURATOR AREA */

  .days{
    padding: 25px;
    width: 100vw;
    background-color: #fff;
  }

  .in-days{
    margin: 10px auto;
  }

  .video-days{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  